
# normalize test
* text=input

*.md text=input
*.txt text=input
*.sh text eol=lf
*.sh text eol=lf
*.ps1 text eol=crlf

*.bin binary

*.pdf binary

*.gif binary
*.jpg binary
*.jpeg binary

*.zip binary
*.7z binary
*.bz binary
*.gz binary
