# edited at 221030

Host *
    Protocol 2
    LogLevel INFO

    AddKeysToAgent yes
    ForwardAgent yes
    GatewayPorts yes

    TCPKeepAlive yes
    ServerAliveInterval 30
    ServerAliveCountMax 3

    PreferredAuthentications publickey

Host 127.*.*.*
    CheckHostIP no
	StrictHostKeyChecking no
	UserKnownHostsFile /dev/null

Host 10.*.*.* 172.[16-31].*.* 192.168.*.*
    CheckHostIP no
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    ControlMaster auto
    # ControlPath %d/.ssh/sessions/master-%r@%h:%p
    IdentitiesOnly no
    PasswordAuthentication yes
    PreferredAuthentications publickey
    IdentityFile %d/.ssh/id_ed25519
    IdentityFile %d/.ssh/id_rsa

Host gitee.com github.com gitlab.com
    HostName %h
    User git
    IdentitiesOnly yes
    PreferredAuthentications publickey
    IdentityFile %d/.ssh/id_ed25519

# azure don't support ED25519 yet
Host ssh.dev.azure.com
    HostName %h
    User git
    IdentitiesOnly yes
    PreferredAuthentications publickey
    IdentityFile %d/.ssh/id_rsa

Include config.d/*.conf
