
TCPKeepAlive yes
ServerAliveInterval 30

AddKeysToAgent yes
GatewayPorts yes

Include config.d/*.conf

Host 10.*.*.* 172.[16-31].*.* 192.168.*.*
	StrictHostKeyChecking no
	CheckHostIP no
	UserKnownHostsFile /dev/null
    ControlMaster auto
    # ControlPath %d/.ssh/sessions/master-%r@%h:%p

Host 127.*.*.*
	StrictHostKeyChecking no
	CheckHostIP no
	UserKnownHostsFile /dev/null

Host *
	Protocol 2
	LogLevel INFO
	IdentitiesOnly no
	PasswordAuthentication yes
    PreferredAuthentications publickey
	IdentityFile %d/.ssh/id_ed25519
	IdentityFile %d/.ssh/id_rsa
	ServerAliveCountMax 3
	ServerAliveInterval 10

Host gitee.com
    User git
    HostName gitee.com
    PreferredAuthentications publickey
    IdentityFile %d/.ssh/id_ed25519
    IdentitiesOnly yes

Host github.com
    User git
    HostName github.com
    PreferredAuthentications publickey
    IdentityFile %d/.ssh/id_ed25519
    IdentitiesOnly yes

Host ssh.dev.azure.com
    User git
    HostName ssh.dev.azure.com
    PreferredAuthentications publickey
    IdentityFile %d/.ssh/id_rsa
    IdentitiesOnly yes
