; at /lib/systemd/system/
[Unit]
Description=ss-%i
After=network.target nss-lookup.target
Wants=network-online.target

[Service]
ExecStart=/as/ss/run-%i

[Install]
WantedBy=multi-user.target
